/* #region(collapsed) R E S E T  __________ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove all margins & padding. */
* {
  margin : 0;
  padding: 0;
}

html {
  -moz-text-size-adjust   : none;
  -webkit-text-size-adjust: none;
  text-size-adjust        : none;
}

html,
body {
  height                : 100%;
  display               : flex;
  -webkit-font-smoothing: antialiased;
  /* Prevent the rubber band scroll effect when the user hits the top or bottom of the document */
  overscroll-behavior   : none;
  flex-direction        : column;
  font-family           : 'SF Pro Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background            : #111;
  color                 : #f5f5f2;

}

.wrapper {
  display       : flex;
  width         : 100%;
  margin        : 0 auto;
  align-items   : center;
  flex-direction: column;
  color: #ddd;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  overflow-wrap: normal;
}

a {
  text-decoration             : underline;
  color                       : #999;
  /* text-underline-offset    : 3px; */
  /* text-decoration-thickness: 5px; */
  /* text-decoration-style    : wavy; */
  text-decoration-color       : #186de4;
}

ul,
ol {
  list-style: none;
}


/* Create a root stacking context (only when using JS frameworks like React). */
#__next {
  isolation: isolate;
}

/* #endregion   _________  reset  _________   */

/* artworks from Art Institute of Chicago */

header {
  display   : inline-block;
  position  : relative;
  text-align: center;
  max-height: min-content;
  margin    : 1rem;
}

h1 {
  max-width: 30vw;
}

#button-wrapper {
  width          : 100%;
  display        : flex;
  position       : absolute;
  top            : 8%;
  justify-content: center;
}

#button-wrapper>button {
  display            : flex;
  flex-direction     : column;
  align-items        : center;
  padding            : 6px 14px;
  font-family        : -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-size          : 1.25rem;
  border-radius      : 6px;
  border             : none;
  background         : #6E6D70;
  box-shadow         : 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color              : #DFDEDF;
  user-select        : none;
  -webkit-user-select: none;
  touch-action       : manipulation;
  color: #eee;
}

#button-wrapper>button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline   : 0;
}

svg {
  max-width : 30vw;
  max-height: 30vw;
}

.artwork-image>img {
  max-width : 100%;
  max-height: 80vh;
}

.icon-magn {
  display: none;
  margin : clamp(0%, 0px, 20px) clamp(2%, 10px, 40px);
  width  : 40px;
}

.search-section>p {
  padding-bottom: .5rem;
  font-size     : .8rem;
}

input {
  font-size       : 1.2rem;
  line-height     : 1.4;
  font-weight     : 400;
  margin       : 0.5rem auto;
  padding         : 0.3rem 0.5rem; 
  box-shadow      : 0px 3px 5px 0px #fff3, 0px 4px 15px 0px #ffffff05;
  border-radius   : .5rem;
  border-bottom   : 1px solid #eee;
  border : none;
}

#search-btn {
  font-size  : 1.2rem;
  line-height: 1.4;
  font-weight: 400;
  margin     : 0.5rem auto;
  padding    : 0.3rem 0.5rem;
  box-shadow : 0px 3px 5px 0px #fff3,
  0px 4px 15px 0px #ffffff05;
  border-radius: .5rem;
  border-bottom: 1px solid #eee;
  border       : none;
}

.artwork-image {
  margin   : 1rem auto;
  padding  : 1rem;
  max-width: 100%;
  height   : auto;
  transition: all 1s ease-out;
}

.artwork-image>img {
  margin: 0 auto;
  height: auto;
}

h3 {
  padding    : .8rem 0;
  font-size  : 1.2rem;
  font-weight: 400;
}

h4 {
  padding    : 0  0 2rem 0;
  font-size  : 1.1rem;
  font-weight: 400;
}

div.artwork-image div {
  margin   : 1rem auto 0;
  max-width: 40rem;
}

summary {
  font-size: 18px;
  color: #ddd;
  }

summary::marker {
  font-size: 18px;
  color: #ddd;
  text-align: end;
}

details>p {
  font-size: 1rem;
  color    : #ddd;
  line-height: 1.5;
}

details>p:first-of-type {
  font-size: 18px;
  padding  : .7rem 0;
  line-height: 1.3;
}

details>p:nth-child(3) {
  font-size: 1rem;
  padding: 0rem 0 1rem;
  line-height: 1.4;
}